* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  overflow: hidden;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#infos {
  position: absolute;
  left: -125px;
  width: 300px;
  height: 65px;
  font-size: 0.5rem;
  padding: 0.5rem;
  background: rgba(255, 0, 0, 0.5);
  opacity: 1;
  line-height: 1rem;
  cursor: pointer;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

#infos p {
  text-align: center;
  opacity: 1;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

#infos p .close {
  background: red;
  padding: 3px 2px 2px 3px;
  border-radius: 6px;
}

#infos.noActive {
  position: absolute;
  width: 10px;
  padding: 0;
  height: 10px;
  opacity: 0;
  border-radius: 10px;
  left: 20px;
  -webkit-animation: light 1s linear infinite;
          animation: light 1s linear infinite;
}

#infos.noActive p {
  opacity: 0;
}

@-webkit-keyframes light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#ship {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
}

#ship svg #flam {
  opacity: 1;
  -webkit-animation: flam1 0.25s linear infinite;
          animation: flam1 0.25s linear infinite;
}

#ship svg #flam2 {
  opacity: 0;
  -webkit-animation: flam2 0.5s linear infinite;
          animation: flam2 0.5s linear infinite;
}

@-webkit-keyframes flam1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flam1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flam2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flam2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#etoile_1 {
  -webkit-animation: move1 8s linear infinite;
          animation: move1 8s linear infinite;
}

#etoile_2 {
  -webkit-animation: move2 10s linear infinite;
          animation: move2 10s linear infinite;
}

@-webkit-keyframes move1 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes move1 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
/*# sourceMappingURL=style.css.map */